

body{
    background-color: rgb(72, 193, 110);
    color: white;
    margin-top: 17px;
    margin-left: 15px;
}

/*Navbar now pretty*/
header ul{
    display: flex;
    gap: 20px;
    margin-left: -40px; }
header ul li{
    list-style-type: none;
    padding: 7px 10px;
    background-color: #96eba8; }
header ul li:hover{
    background-color: #61a36b; }

/*Link change*/
a{
    color: white;
    text-decoration: none; }
