

body{
    background-color: rgb(19 30 56);
    color: white;
    margin-top: 17px;
    margin-left: 15px;
}

/*Navbar now pretty*/
header ul{
    display: flex;
    gap: 20px;
    margin-left: -40px; }
header ul li{
    list-style-type: none;
    padding: 7px 10px;
    background-color: #96C3EB; }
header ul li:hover{
    background-color: #6185a3; }

/*Link change*/
a{
    color: white;
    text-decoration: none; }
